<div class="clear-both container-fluid text-center px-0">
    <div class="mt-2 w-100 container-fluid px-0 mx-0" id="no-booking">
        <div class="mx-auto text-danger px-0 mx-0 bg-white col-md-3 col-12 rounded-4 h5 mt-5 py-0"
            style="font-size: 24px;">
            No reservations to show
        </div>
    </div>
    <div class="mt-1 mt-md-0 mx-auto col-12 col-md-8 mb-3" id="br-container">
        <div class="" style="font-size: 23.3px;font-weight: 400;">List of your reservations</div>
        <div class="container px-0 overflow-auto" id="bt-container" style="margin-top:30px">
            <table class="table-wo-bottom bg-white px-0 mb-3 fs-16" id="b-table" style="border-radius:15px 15px 0 0;">
                <tr class="h-tb" style="border-bottom: 1.5px solid rgb(236, 234, 234);">
                    <th scope="col" class="th-b" id="bt-h1" style="width:5.4%;font-weight:500">#</th>
                    <th scope="col" class="th-b" id="bt-h2" style="width:28.2%;">Business Name</th>
                    <th scope="col" class="th-b" id="bt-h3" style="width:20%;">Date</th>
                    <th scope="col" class="th-b" id="bt-h4" style="width:10.7%;">Time</th>
                    <th scope="col" class="th-b" id="bt-h5" style="width:31% ;">E-mail</th>
                    <th scope="col" class="bt-h6 th-b text-white" id="">del</th>
                </tr>
                <tbody>

                </tbody>
                <!-- <tr class="booking-table-content-row" id='tr1'>
                        <td class="booking-record-index">1</td>
                        <td class="booking-record-business-name booking-table-col2">business Name</td>
                        <td class="booking-record-date">2022-09-10</td>
                        <td class="booking-record-time">11:00</td>
                        <td class="booking-record-email">11@qq.com</td>
                        <td><img src='assets/deleteImage.png' id='img1' style='width:17px;height:17px;object-fit:fill'>
                        </td>
                    </tr> -->

            </table>
        </div>
    </div>
</div>